<% if User.is_logged_in?(session) %>

    <h1>Edit Program</h1>

    <form  method="post" action="/programs/<%= @program.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="title">Show Title:</label>
    <input type="text" name="title" value="<%= @program.title %>">

    <label for="playwright">Playwright:</label>
    <input type="text" name="playwright" value="<%= @program.playwright %>">

    <label for="dates">Show Dates:</label>
    <input type="text" name="dates" value="<%= @program.dates %>">

    <label for="company">Production Company:</label>
    <input type="text" name="company" value="<%= @program.company %>">

    <label for="director">Director:</label>
    <input type="text" name="director" value="<%= @program.director %>">

    <label for="crew_members">Crew Credits:</label>
    <input type="text" name="crew_members" value="<%= @program.crew_members %>">

    <label for="performers">Performer Credits:</label> 
    <input type="text" name="performers" value="<%= @program.performers %>">

    <input type="submit" value="Submit Edits">

    </form>

<% else %>
    <p>You must <a href="/login">log in</a> to edit a program.<p>
<% end %>