<% if User.is_logged_in?(session)%>

    <h1><%= User.current_user(session).user_name %>'s Program Drafts</h1>

    <% @programs.each_with_index do |program, i|%>
        <h2><%= (i + 1) %>. <%= program.title %></h2>
        <h3><%= program.dates %></h3>
        <a href="/programs/<%= program.id %>">See This Program Draft</a>
        <br>
        <br>
    <% end %>

    <ul>
        <li><a href="/account">Back to my account</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>

<% else %>
    <p>You must <a href="/login">log in</a> to view your programs.<p>
<% end %>