<h2><%= @program.company %> presents</h2>

<h1><%= @program.title %></h1>

<h2>by <%= @program.playwright %></h2>

<h3><%= @program.dates %></h3>

<h3>Directed by <%= @program.director %></h3>

<h3>Credits</h3>

<h4>Crew:</h4>
<p><%= @program.crew_members %></p>

<h4>Cast:</h4>
<p><%= @program.performers %></p>

<h4>Enjoy the show!</h4>

<p>"Edit Program" Button</p>

<form method="post" action="/programs/<%= @program.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= @program.title %>">
</form>